/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    top: 0;
    margin-left: 0;
  }
  
  .navbar-brand a {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-links a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-size: 15px;
    text-align: right;
  }
  
  .navbar-links a:hover {
    color: #e6e6e6;
  }
  
  .navbar-links button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .navbar-links button:hover {
    color: #e6e6e6;
  }

  .create-post-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Subtract the navbar height */
    background-color: #f0f0f0;
  }
  
  .create-post-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 600px;
  }
  
  .create-post-container h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .create-post-container button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }